<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common-header">

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="gym-management-system" />
    <meta name="author" content="ZhangMing" />
    <title>易超市管理系统-用户</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        crossorigin="anonymous"></script>

    <style type="text/css">
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #fff;
        }

        canvas {
            display: block;
        }

        .top {
            position: absolute;
            top: 0;
            left: 0;
        }

        .button {
            /* width: 100px;
            height: 30px; */
            background-color: pink;
            border: none;
            border-radius: 20px;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 10px;
            cursor: pointer;
        }
    </style>


</head>

<bod>
    <!--导航栏-->
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" th:fragment="common-navbar">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3">易超市管理系统</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="搜索" aria-label="搜索"
                    aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/toUserLogin}"><i
                                class="fas fa-sign-out-alt"></i>&nbsp;退出登录</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <!--侧边栏-->
    <div id="layoutSidenav_nav" th:fragment="common-sidenav">
        <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">

                    <!--管理区域-->
                    <div class="sb-sidenav-menu-heading">管理</div>
                    <a class="nav-link" th:href="@{/user/toUserInfo}">
                        <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                        个人信息
                    </a>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                        aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                        商品管理
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                        data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/user/toApplyClass}">报名办卡</a>
                            <a class="nav-link" th:href="@{/user/toUserClass}">我的卡包</a>
                        </nav>
                    </div>

                    <!--链接区域-->
                    <div class="sb-sidenav-menu-heading">有需要自取</div>
                    <a class="nav-link" href="https://github.com/JDC2001/YiChaoShi_java.git">
                        <div class="sb-nav-link-icon"><i class="fab fa-github"></i></div>
                        项目地址
                    </a>



                    <!-- <button onclick="my()">点我有惊喜！</button> -->
                    <canvas id="canvas" width="200" height="200"></canvas>
                    <button onclick="generateImage()" class="button">点我，有惊喜！</button>
                    <!-- <script>
                        function my() {
                            var img = document.createElement("img");
                            img.src = "/img/java.jpg";
                            document.body.appendChild(img);
                        }
                    </script> -->


                    <canvas></canvas>
                    <canvas class="top"></canvas>

                    <script type="text/javascript">
                        function generateImage() {
                            //获取Canvas元素
                            var canvas = document.getElementById("canvas")


                            var width = document.body.clientWidth;
                            var height = document.body.clientHeight;

                            var canvas = document.getElementsByTagName('canvas')[0];
                            var canvas1 = document.getElementsByTagName('canvas')[1];
                            canvas.width = width;
                            canvas.height = height;
                            canvas1.width = width;
                            canvas1.height = height;

                            var context = canvas.getContext('2d');
                            var context1 = canvas1.getContext('2d');

                            var Style = context.createLinearGradient(0, 0, width, 0);
                            Style.addColorStop(0, "Skyblue");
                            Style.addColorStop(1, "pink");
                            var Style1 = context1.createLinearGradient(0, 0, width, 0);
                            Style1.addColorStop(0, "Skyblue");
                            Style1.addColorStop(1, "pink");

                            var leftI = 2;
                            var rightI = 2;
                            var leftInterval = setInterval(function () {
                                var obj = loveCurve(2 * Math.PI * (leftI / 60), 10);
                                heart(context, rand(6, 8) / 10, width / 4, height / 4, obj.x * 1.4, obj.y * 1.4, Style);
                                leftI += 1;
                                if (leftI == 29) {
                                    leftI += 4;
                                }
                                if (leftI == 59) {
                                    clearInterval(leftInterval);
                                    var rightInterval = setInterval(function () {
                                        var obj = loveCurve(2 * Math.PI * (rightI / 60), 10);
                                        heart(context, rand(4, 8) / 10, width / 4 + 200, height / 4, obj.x * 1.4, obj.y * 1.4, Style);
                                        rightI += 1;
                                        if (rightI == 29) {
                                            rightI += 4;
                                        }
                                        if (rightI == 59) {
                                            clearInterval(rightInterval);
                                            arrow();

                                        }
                                    }, 20)
                                }
                            }, 20)

                            var hotArr = [];
                            var text = "LOVE";
                            var hotInterval = setInterval(function () {
                                if (rand(-19, 19) == 1 && hotArr.length < 2) {
                                    hotArr.push([2, rand(30, width - 30), height, text[rand(0, text.length - 1)]]);
                                }
                                context1.clearRect(0, 0, width, height);
                                context1.font = "30px Verdana";
                                for (var i = 0; i < hotArr.length; i++) {
                                    heart(context1, hotArr[i][0], hotArr[i][1], hotArr[i][2], 0, 0, Style1);
                                    context1.fillStyle = Style1;
                                    context1.fillRect(hotArr[i][1] + 85, hotArr[i][2] + 90, 30, 30);
                                    context1.fillStyle = "violet";
                                    context1.fillText(hotArr[i][3], hotArr[i][1] + 90, hotArr[i][2] + 115);
                                    hotArr[i][2] -= 3;
                                    if (hotArr[i][2] <= -20) {
                                        hotArr.splice(i, 1);
                                        i--;
                                    }
                                }
                            }, 30)


                            function arrow() {
                                context.beginPath();
                                context.lineWidth = 4;
                                context.strokeStyle = Style;
                                context.lineCap = 'round';
                                context.lineJoin = 'round';
                                var arrowI = 0;
                                var arrowX = width / 4 * 3.4 - width / 4 * 0.6;
                                var arrowY = height / 4 * 3 - height / 4 * 1;
                                var arrowInterval = setInterval(function () {
                                    context.lineTo(width / 4 * 3.4 - arrowX * arrowI / 10, height / 4 * 1 + arrowY * arrowI / 10);
                                    context.lineTo(width / 4 * 3.4 - arrowX * (arrowI + 1) / 10, height / 4 * 1 + arrowY * (arrowI + 1) / 10);
                                    context.stroke();
                                    arrowI += 1;
                                    if (arrowI == 10) {
                                        clearInterval(arrowInterval);
                                        context.lineTo(width / 4 * 0.6, height / 4 * 3);
                                        context.lineTo(width / 4 * 0.6 + 20, height / 4 * 3 - 32);
                                        context.stroke();
                                        context.lineTo(width / 4 * 0.6, height / 4 * 3);
                                        context.lineTo(width / 4 * 0.6 + 30, height / 4 * 3 + 12);
                                        context.stroke();
                                    }
                                }, 20)
                                context.closePath();
                            }

                            function heart(context, r, scaleX, scaleY, x, y, color) {
                                context.beginPath();
                                context.strokeStyle = color;
                                context.fillStyle = color;
                                for (var i = 0; i <= 360; i++) {
                                    var obj = loveCurve(2 * Math.PI * (i / 360), r);
                                    context.lineTo(obj.x + scaleX + x, (obj.y + scaleY + y).toFixed(2));
                                    context.stroke();
                                }
                                context.fill();
                                context.closePath();
                            }

                            //爱心曲线	t的取值范围是0到2*Math.PI。
                            function loveCurve(t, r) {
                                var obj = {
                                    x: 100 + r * (16 * Math.pow(Math.sin(t), 3)),
                                    y: 50 - r * (13 * Math.cos(t) - 5 * Math.cos(2 * t) - 2 * Math.cos(3 * t) - Math.cos(4 * t))
                                }
                                return obj;
                            }

                            function rand(n, m) {
                                var c = m - n + 1;
                                return Math.floor(Math.random() * c + n);
                            }

                        }


                        //这是测试canvas爱心代码
                        // var width = document.body.clientWidth;
                        // var height = document.body.clientHeight;

                        // var canvas = document.getElementsByTagName('canvas')[0];
                        // var canvas1 = document.getElementsByTagName('canvas')[1];
                        // canvas.width = width;
                        // canvas.height = height;
                        // canvas1.width = width;
                        // canvas1.height = height;

                        // var context = canvas.getContext('2d');
                        // var context1 = canvas1.getContext('2d');

                        // var Style = context.createLinearGradient(0, 0, width, 0);
                        // Style.addColorStop(0, "Skyblue");
                        // Style.addColorStop(1, "pink");
                        // var Style1 = context1.createLinearGradient(0, 0, width, 0);
                        // Style1.addColorStop(0, "Skyblue");
                        // Style1.addColorStop(1, "pink");

                        // var leftI = 2;
                        // var rightI = 2;
                        // var leftInterval = setInterval(function () {
                        //     var obj = loveCurve(2 * Math.PI * (leftI / 60), 10);
                        //     heart(context, rand(6, 8) / 10, width / 4, height / 4, obj.x * 1.4, obj.y * 1.4, Style);
                        //     leftI += 1;
                        //     if (leftI == 29) {
                        //         leftI += 4;
                        //     }
                        //     if (leftI == 59) {
                        //         clearInterval(leftInterval);
                        //         var rightInterval = setInterval(function () {
                        //             var obj = loveCurve(2 * Math.PI * (rightI / 60), 10);
                        //             heart(context, rand(4, 8) / 10, width / 4 + 200, height / 4, obj.x * 1.4, obj.y * 1.4, Style);
                        //             rightI += 1;
                        //             if (rightI == 29) {
                        //                 rightI += 4;
                        //             }
                        //             if (rightI == 59) {
                        //                 clearInterval(rightInterval);
                        //                 arrow();

                        //             }
                        //         }, 20)
                        //     }
                        // }, 20)

                        // var hotArr = [];
                        // var text = "LOVE";
                        // var hotInterval = setInterval(function () {
                        //     if (rand(-19, 19) == 1 && hotArr.length < 2) {
                        //         hotArr.push([2, rand(30, width - 30), height, text[rand(0, text.length - 1)]]);
                        //     }
                        //     context1.clearRect(0, 0, width, height);
                        //     context1.font = "30px Verdana";
                        //     for (var i = 0; i < hotArr.length; i++) {
                        //         heart(context1, hotArr[i][0], hotArr[i][1], hotArr[i][2], 0, 0, Style1);
                        //         context1.fillStyle = Style1;
                        //         context1.fillRect(hotArr[i][1] + 85, hotArr[i][2] + 90, 30, 30);
                        //         context1.fillStyle = "violet";
                        //         context1.fillText(hotArr[i][3], hotArr[i][1] + 90, hotArr[i][2] + 115);
                        //         hotArr[i][2] -= 3;
                        //         if (hotArr[i][2] <= -20) {
                        //             hotArr.splice(i, 1);
                        //             i--;
                        //         }
                        //     }
                        // }, 30)


                        // function arrow() {
                        //     context.beginPath();
                        //     context.lineWidth = 4;
                        //     context.strokeStyle = Style;
                        //     context.lineCap = 'round';
                        //     context.lineJoin = 'round';
                        //     var arrowI = 0;
                        //     var arrowX = width / 4 * 3.4 - width / 4 * 0.6;
                        //     var arrowY = height / 4 * 3 - height / 4 * 1;
                        //     var arrowInterval = setInterval(function () {
                        //         context.lineTo(width / 4 * 3.4 - arrowX * arrowI / 10, height / 4 * 1 + arrowY * arrowI / 10);
                        //         context.lineTo(width / 4 * 3.4 - arrowX * (arrowI + 1) / 10, height / 4 * 1 + arrowY * (arrowI + 1) / 10);
                        //         context.stroke();
                        //         arrowI += 1;
                        //         if (arrowI == 10) {
                        //             clearInterval(arrowInterval);
                        //             context.lineTo(width / 4 * 0.6, height / 4 * 3);
                        //             context.lineTo(width / 4 * 0.6 + 20, height / 4 * 3 - 32);
                        //             context.stroke();
                        //             context.lineTo(width / 4 * 0.6, height / 4 * 3);
                        //             context.lineTo(width / 4 * 0.6 + 30, height / 4 * 3 + 12);
                        //             context.stroke();
                        //         }
                        //     }, 20)
                        //     context.closePath();
                        // }

                        // function heart(context, r, scaleX, scaleY, x, y, color) {
                        //     context.beginPath();
                        //     context.strokeStyle = color;
                        //     context.fillStyle = color;
                        //     for (var i = 0; i <= 360; i++) {
                        //         var obj = loveCurve(2 * Math.PI * (i / 360), r);
                        //         context.lineTo(obj.x + scaleX + x, (obj.y + scaleY + y).toFixed(2));
                        //         context.stroke();
                        //     }
                        //     context.fill();
                        //     context.closePath();
                        // }

                        // //爱心曲线	t的取值范围是0到2*Math.PI。
                        // function loveCurve(t, r) {
                        //     var obj = {
                        //         x: 100 + r * (16 * Math.pow(Math.sin(t), 3)),
                        //         y: 50 - r * (13 * Math.cos(t) - 5 * Math.cos(2 * t) - 2 * Math.cos(3 * t) - Math.cos(4 * t))
                        //     }
                        //     return obj;
                        // }

                        // function rand(n, m) {
                        //     var c = m - n + 1;
                        //     return Math.floor(Math.random() * c + n);
                        // }
                    </script>

                </div>
            </div>

            <div class="sb-sidenav-footer">
                <div class="small">你好！</div>
                尊敬的会员
            </div>
        </nav>
    </div>

    <!--页脚-->
    <footer class="py-4 bg-light mt-auto" th:fragment="common-footer">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; JinDunChao 2023.6.12</div>
            </div>
        </div>
    </footer>

    <div th:fragment="common-scripts">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
        <script src="/static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
            crossorigin="anonymous"></script>
        <script src="/static/assets/demo/chart-area-demo.js" th:src="@{/assets/demo/chart-area-demo.js}"></script>
        <script src="/static/assets/demo/chart-bar-demo.js" th:src="@{/assets/demo/chart-bar-demo.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="/static/js/datatables-simple-demo.js" th:src="@{/js/datatables-simple-demo.js}"></script>
    </div>

    </body>

</html>